{% extends 'Navbar.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
{% block body %}
<div class="center">
    <div class="card" style="width: 18rem;">
  <img src="{% static 'images/thar.jpeg' %}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Benz</h5>
    <p class="card-text"></p>
    <a href="#" class="btn btn-primary">BUY</a>
  </div>
</div>
<div class="card" style="width: 18rem;">
 <img src="{% static 'images/kia.jpeg' %}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Marithi</h5>
    <p class="card-text"></p>
    <a href="#" class="btn btn-primary">BUY</a>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img src="{% static 'images/img.png' %}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Honda</h5>
    <p class="card-text"></p>
    <a href="#" class="btn btn-primary">BUY</a>
  </div>
</div>
</div>

{% endblock %}
</html>